h1{
    color: red;
    font-size: 5em;
}

p, li {
    color: green;
}

.clase{
    color: orange;
    font-weight: bold;
}

li.clase2 {
    color: pink;
    font-size: 2em;
}

a:hover {
    color: lightseagreen;
}
  
  